p{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-decoration: orange wavy  underline;
}
a{
    text-decoration: none;
}
#h1{
    font font-weight: 100;
}
#one{
    font-size: 16px;
}
#three{
    font-size: 1px;
}