body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

section {
  padding: 50px;
  text-align: center;
}

.project {
  background: #1e293b;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}